*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

.container {
  /* background-color: green; */
  max-width: 1248px;
  margin-inline: auto;
  padding-inline: 24px;
}

.wrapper {
  padding-block: 64px;
}

.button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(125, 125, 125);
  padding: 8px 16px;
  border-radius: 8px;
  color: black;
  font-weight: 600;
  text-align: center;
}
.button--type-text {
  background-color: unset;
  color: rgb(255, 255, 0);
  padding-inline: 0;
}

.nav {
  background-color: rgb(255, 255, 0);
  color: black;
  font-weight: 700;
  container-type: inline-size;
  container-name: nav;
}
.nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-block: 12px;
}
.nav__menuWrapper {
  gap: 24px;
  align-items: baseline;
  display: flex;
}
.nav .lt680px {
  display: none;
}
@container nav (width < 42.5rem) {
  .nav__menuWrapper {
    display: none;
  }
  .nav .lt680px {
    display: unset;
  }
}

.main__media {
  aspect-ratio: 16/9;
  background-color: rgb(208, 233, 255);
  overflow: hidden;
}
.main__media img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  margin: 0;
  font-size: 1.1875rem;
  line-height: 1.5;
  font-family: "Press Start 2P", cursive;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: calc(80ch + 4rem);
  min-height: max(70dvh, 2rem);
  margin-inline: auto;
  padding-inline: 2rem;
  padding-block: 4rem;
}

header {
  text-align: center;
  text-wrap: balance;
  word-break: keep-all;
  font-size: 50px;
  color: rgb(255, 255, 0);
}

main {
  z-index: 1;
  grid-column: 1/span 2;
  grid-row: 1;
}

aside {
  position: sticky;
  top: 0;
  z-index: 3;
  grid-column: 1;
  grid-row: 1;
  width: -moz-fit-content;
  width: fit-content;
  padding-inline: 1rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
  height: max(100dvh, 2rem);
  border-radius: 0 1rem 1rem 0;
  font-size: 0.875rem;
}
aside ol {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
aside ol li {
  display: flex;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
}
aside ol li::before {
  content: "";
  width: 1rem;
  height: 1rem;
  margin-top: 0.125rem;
  border-radius: 999999999px;
  border: 0.125rem solid white;
}
aside a {
  text-decoration: none;
}
aside .light {
  transition: 0.35s;
}
aside .light :hover {
  text-shadow: 0 0 25px;
  transform: scale(1.05);
}

.progressBar {
  position: sticky;
  top: 0;
  z-index: 2;
  grid-column: 1/span 2;
  grid-row: 1;
  width: 100%;
  height: 1rem;
  background-color: rgb(152, 152, 152);
}
.progressBar .indicator {
  position: absolute;
  inset: 0;
  transform-origin: left;
  background-color: rgb(59, 97, 108);
}

@media (width < 67.5rem) {
  .stickyWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
}
main {
  grid-column: 1;
  grid-row: 3;
}

@media (width < 59.1875rem) {
  aside ol {
    justify-content: flex-start;
  }
}
span:hover {
  background-color: rgb(59, 97, 108);
}

.footer {
  background-color: rgb(125, 125, 125);
  color: rgb(255, 255, 0);
  font-size: 0.875rem;
  container-type: inline-size;
  container-name: footer;
}
.footer a {
  text-decoration: none;
  color: rgb(255, 255, 0);
}
.footer li {
  list-style: none;
}
.footer svg {
  fill: rgb(255, 255, 0);
}
.footer .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}
.footer h2 {
  font-size: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}
.footer li {
  margin-bottom: 0.5rem;
}
.footer__logo {
  margin-bottom: 0.75rem;
}
.footer__extLinkWrap {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}
@container footer (width < 44.375rem) {
  .footer .column:first-of-type {
    grid-row: 1/span 2;
  }
  .footer .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}