* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

.container {
  font-family: 'Press Start 2P', cursive;
  max-width: 1248px;
  margin-inline: auto;
  padding-inline: 24px;
}

.wrapper {
  padding-block: 64px;
}

.button {
  margin-top: 0.75rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: yellow;
  padding: 4px 10px;
  border-radius: 7px;
  color: black;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
.button--type-text {
  background-color: unset;
  color: yellow;
  padding-inline: 0;
}

.nav {
  position: fixed;
  top: 0;
  /* width: 100% */
  left: 0;
  right: 0;
  z-index: 1;
  background-color: yellow;
  color: black;
  font-weight: 700;
  container-type: inline-size;
  container-name: nav;
}
.nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-block: 12px;
}
.nav__menuWrapper {
  display: flex;
  gap: 24px;
  align-items: baseline;
}
.nav .lt680px {
  display: none;
}
@container nav (width < 42.5rem) {
  .nav__menuWrapper {
    display: none;
  }
  .nav .lt680px {
    display: unset;
  }
}

.nav__menu:hover {
  color: red;
}

.main__media {
  aspect-ratio: 16/9;
  background-color: grey;
  overflow: hidden;
}
.main__media img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.main__media img {
  filter: grayscale(0);
  transition: 0.5s ease-in-out;
}

.main__media:hover img {
  filter: grayscale(100%);
}

#hero1 {
  text-align: center;
}
#hero1 .button {
  margin-inline: auto;
}
#hero1 .main__text {
  margin-inline: auto;
  max-width: 600px;
  margin-bottom: 24px;
}
#hero1 .main__media {
  aspect-ratio: 16/9;
}
#hero1 h1 {
  margin-bottom: 16px;
}
#hero1 p {
  margin-bottom: 24px;
  font-size: 14px;
}

#hero2 .wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}
#hero2 .wrapper > * {
  flex: 1;
}
#hero2 .main__text__buttonwrapper {
  display: flex;
  gap: 16px;
}
#hero2 .main__media {
  aspect-ratio: 4/3;
}
#hero2 h1 {
  margin-bottom: 16px;
}
#hero2 p {
  max-width: 40ch;
  margin-bottom: 24px;
  font-size: 14px;
}
@media (width < 53.125rem) {
  #hero2 .wrapper {
    display: block;
    text-align: center;
  }
  #hero2 .wrapper p {
    margin-inline: auto;
  }
  #hero2 .main__text {
    margin-bottom: 2.25rem;
  }
  #hero2 .main__text__buttonwrapper {
    margin-inline: auto;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.footer {
  background-color: grey;
  color: yellow;
  font-size: 0.875rem;
  container-type: inline-size;
  container-name: footer;
}
.footer a {
  text-decoration: none;
  color: yellow;
}
.footer li {
  list-style: none;
}
.footer svg {
  fill: yellow;
}
.footer .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}
.footer h2 {
  font-size: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}
.footer li {
  margin-bottom: 0.5rem;
}
.footer__logo {
  margin-bottom: 0.75rem;
}
.footer__extLinkWrap {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}
@container footer (width < 44.375rem) {
  .footer .column:first-of-type {
    grid-row: 1 / span 2;
  }
  .footer .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
